* {
  margin: 0px;
}
.header {
  background: rgb(36, 107, 176);
  background: linear-gradient(
    42deg,
    rgba(36, 107, 176, 0.7572071064754027) 10%,
    rgba(110, 71, 182, 0.771212708716299) 82%
  );
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.people {
  margin-top: 10px;
  height: 10vh;
  font-size: 38px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.input {
  padding: 7px;
  width: 280px;
  border: 2px solid rgba(19, 96, 143, 0);
  border-radius: 3px;
}
.inputDiv {
  height: 9vh;
}
.input:focus {
  outline: none !important;
  border-radius: 4px;
  border: 2px solid rgb(19, 95, 143);
  box-shadow: 0 0 10px #719ece;
}
.navBar {
  margin: 1% 5% 3% 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.active{
  background-color: white;
  color:black;
  border: none;
}
.buttonName {
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 4px;
  margin-right: 10px;
  cursor: pointer;
}
.deactive{
     color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 4px;
  margin-right: 10px;
  cursor: pointer;
}
.buttonName:hover {
  background-color: rgb(66, 66, 66);
  color: rgb(255, 254, 254);
}
.color{
    color:black;
    background-color:white;
}
.mainDiv{
    width:99%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.3% ;
}
.mainCard{
    width: 350px;
    height: 190px;
    background-color: #B4D8EC;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius:50% ;
}
.knowMore{
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}
.knowMore:hover{
    background-color: white;
    border: none;
    color: black;
    border-radius: 4px;
}
.name{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
.description{
    /* text-align: center; */
    padding: 5px 2px 0px 8px;
    font-weight: 600;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
